:root{
    --back_grande: #131726;
    --back_caixa: rgb(6, 11, 20);
    --form_color: black;
    --form_border: #686868;
    --form_text: #cef3f5;
    --link_color: rgb(19, 159, 214);
}

#logo{
    margin-top: 10px;
    width: 60px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #131726 !important;
    height: 100%;
    width: 100%;
}

.nav_tabs{
    width: 1100px;
    height: 850px;
    margin: 30px auto;
    position: relative; 
    border-radius: 30px;
    background-color: rgb(6, 11, 20);
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
    display: block !important;
}

.nav_tabs label{
    width: 200px;
    padding: 10px;
    font-weight: 600;
    display: block;
    color: #686868;
    border: 1px solid #686868;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    margin: 20px 5px 40px 0px;
}
 
.rd_tabs:checked ~ label{
    color: #cef3f5;
    font-weight: 600;
    border: 1px solid #cef3f5;
}

.rd_tabs:checked ~ .content{
    display: block;
}

.rd_tabs{
    display: none;
}

.content{
    padding-left: 30px;
    display: none;
    position: absolute;
    left: 0;
}

.botao{
    position: absolute;
    border: 1px solid #686868;
    background-color: rgb(6, 11, 20);
    color: #686868;
    width: 760px;
    height: 180px;
    border-radius: 30px;
    padding: 20px;
    font-weight: 500;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: left;
}

.botao:hover {
    background-color: rgb(6, 11, 20);
    color: #cef3f5;
    border: 1px solid #cef3f5;
}

.filtro{
    width: 240px;
    height: 70%;
    float: right !important;
    background-color: rgb(6, 11, 20);
    margin: 120px 30px 150px 50px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;
}


.bfiltros:checked ~ label{
    color: #cef3f5;
    font-weight: 600;
    border: 1px solid #cef3f5;
    background-color: #131726;
}

.bfiltros{
    display: none;
    margin-bottom: 0px !important;
}

.titulo{
    font-weight: 500;
    font-size: xx-large;
    color: white;
    margin-bottom: 15px;
}

.titulo_filtro{
    font-weight: 500;
    font-size: larger;
    color: white;
}

.barra{
    height: 5px;
    background-color: #cef3f5;
    margin-top: 10px;
}

.barra1{
    width: 67%;
}

.barra2{
    width: 50%;
}

.infobarra{
    font-size: small;
    color: #cef3f5;
    margin-bottom: 10px;
}

.infos{
    font-size: medium;
}


