<!DOCTYPE html>
<html>
    <head>
       <style>
        :root{
    --back_grande: #131726;
    --back_caixa: rgb(6, 11, 20);
    --form_color: black;
    --form_border: #686868;
    --form_text: #cef3f5;
    --link_color: rgb(19, 159, 214);
}

#logo{
    width: 60px;
}

#logo2{
    height: 60px;
    padding-right: 20px;
    background-color: var(--back_grande);
}

#logo2:hover{
    cursor: pointer;
    background-color: var(--back_grande);
}

#menus{
    list-style-type: none;
    overflow: hidden;
    background-color: var(--back_grande);
    padding-left: 32px;
}

#menus li{
    float: left;
    height: 60px;
    padding: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.3s;
    color: var(--form_text);
    font-size: 16px;
    font-weight: 400 !important;
}

#menus li:hover{
    text-decoration: none;
    background-color: var(--form_border);
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #0f2027, #12252c,
     #152931, #192e37, #1c333c,
      #1e3741, #203c47, #22404c,
       #244553, #274959, #294e60, #2c5367) !important; 
    height: 100%;
    width: 100%;
}

.box{
    width: 1000px;
    height: 520px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: rgba(15, 32, 39, 0.3);
}

.box2{
    width: 1000px;
    height: 800px;
    margin: 10px auto;
    border-radius: 30px;
}

.boxposts{
    float: left;
    width: 650px;
    height: 770px;
    border-radius: 10px;
    background-color: rgba(15, 32, 39, 0.3);
    margin-right: 20px;
    padding: 30px;
}

.boxop{
    float: right;
    width: 320px;
    height: 410px;
    border-radius: 10px;
    background-color: rgba(15, 32, 39, 0.3);
    padding: 20px;
}

.op{
    border: 1px solid #686868;
    background-color: rgba(15, 32, 39, 0.3);
    width: 280px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: left;
}

.caixa_img{
    background-size: cover;
    width: 50px;
    height: 50px;
    float: left !important;
    border-radius: 10px;
    margin-right: 10px;
}

.op:hover {
    color: #cef3f5;
    border: 1px solid #cef3f5;
}

.wpp{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to bottom, #686868, #686868);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.foto{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #cef3f5;
    margin: 70px 20px 0px 30px;
}

.nome{
    font-weight: 500;
    font-size: xx-large;
    color: white;
}

.infos{
    font-size: medium;
    font-weight: 500;
    color: white;
}

.infos2{
    font-size: medium;
    font-weight: 500;
    color: #131726;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.publis{
    width: 60%;
    margin-left: 30px;
    float: left;
}

.botao{
    background-size: cover;
    color: #686868;
    width: 590px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: left;
}

.botao:hover {
    color: #cef3f5;
    border: 1px solid #cef3f5;
}

.botaologo{
    background-color: rgba(15, 32, 39, 0.3);
    border: 1px solid rgba(15, 32, 39, 0.3);
    float: right;
    margin: 21px 30px 0px 20px;
}

.caixas_1{
    float: left;
    width: 960px;
    height: 280px;
    border-radius: 10px;
    margin: 0px 20px 30px 20px;
    padding-left: 10px;
}

.caixa_ctt{
    float: right;
    width: 240px;
    height: 200px;
    border-radius: 10px;
    margin: 15px 20px 0px 20px;
    padding-right: 10px;
}

.fonte_ctt{
    color: white; 
    font-weight: 500; 
    font-size: medium; 
    margin: 0px 5px 10px 30px;
    float: right;
}

.caixas_2{
    float: right;
    width: 320px;
    height: 330px;
    border-radius: 10px;
    background-color: rgba(15, 32, 39, 0.3);
    padding: 20px;
    margin-bottom: 30px;
}

.tags{
    border: 1px solid #686868;
    padding: 10px;
    background-color: rgba(15, 32, 39, 0.3);
    font-weight: 500;
    font-size: larger;
    color: #686868;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
}

.tags:hover {
    color: #cef3f5;
    border: 1px solid #cef3f5;
}

.glyphicon-education{
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.glyphicon-book{
    float: left;
    color: white;
    font-size: 20px;
}

.glyphicon-envelope{
    float: left;
    color: white;
    font-size: 20px;
}

.glyphicon-tags{
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.glyphicon-plus{
    float: right;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}


       </style>
        <!--Aqui criamos um link para o documento que contém os estilos da página-->
        <link rel="stylesheet" type="text/css" href="./estilos/perfil.css">
        <link rel="icon" type="image/x-icon" href="./Imagens/Logo-Scili.png">
        <!--Com essa tag meta o navegador entende que os caracteres são do UTF-8 e os acentos n bugam-->
        <meta charset="UTF-8">
        <!--Aqui o site funciona direito em celular tbm-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Scili.com</title>
    </head>

    <body>
        <div id="navbar" class="text-white" style="width: 100%;">
            <ul id="menus">
                <li style="padding: 0;"><img id="logo2" src="./Imagens/Logo-Scili.png" onclick="window.location.href='/areaCentral'"></li>
                <li onclick="location.href='/empresas'">Empresas</li>
                <li onclick="location.href='/pesquisadores'">Pesquisadores</li>
                <li onclick="location.href='/perfil'">Perfil</li>
                <li>Notificações</li>
                <li onclick="location.href='/processos_bu'">Processos</li>
            </ul>
        </div>
        <div class="box">
            <div class="wpp">
                <div class="foto">  </div>
            </div>
            <div class="nome"> Ronaldo de Breyne </div>
            <div class="infos"> Professor Doutor de Engenharia Mecanica na Escola Politecnica da USP</div>
            <div class="caixas_1">
                <i class="glyphicon glyphicon-education"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 10px 5px 10px 30px;"> Formacao </div>
                <div class="infos" style="margin-bottom: 10px; font-size: 15px;"> Engenharia Mecanica: Escola Politecnica da USP, Mestrado Blabla2, Doutorado Blabla2 fjhqic jdfoie oejfoqe ojf </div>
                <hr width="50%">
                <i class="glyphicon glyphicon-book"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 10px 5px 10px 30px;"> Areas de Interesse </div>
                <div class="infos" style="margin-bottom: 10px; font-size: 15px;"> Engenharia Mecanica: Escola Politecnica da USP, Mestrado Blabla2, Doutorado Blabla2 fjhqic jdfoie oejfoqe ojf </div>
                <hr width="50%">
                <i class="glyphicon glyphicon-envelope"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 10px 5px 10px 30px;"> E-mail Institucional</div>
                <div class="infos" style="margin-bottom: 10px; font-size: 15px;"> ronaldo@usp.br </div>
            </div>
        </div>

        <div class="box2">
            <div class="boxposts"> 
                <button style="float: right; background-color: rgba(15, 32, 39, 0.3); border: 0px;">
                    <i class="glyphicon glyphicon-plus"></i>
                </button> <div class="nome" style="font-size: x-large;"> Publicacoes </div>
                <div class="botao" style="background-image: url(./Imagens/Guiana.jfif);"> 
                    <div class="infos2"> Abertos editais de intercâmbio para instituições francesas em SP </div>
                </div>
                <div class="botao" style="background-image: url(./Imagens/Itau.jfif);">
                    <div class="infos2"> Oportunidade de pesquisa no Itaú </div>
                </div>
                <div class="botao" style="background-image: url(./Imagens/lab_azul.jfif);">
                    <div class="infos2"> Oportunidade de Iniciação Científica no LabAzul </div>
                </div>
            </div>

            <div class="caixas_2">
                <i class="glyphicon glyphicon-tags"></i> <div class="nome" style="font-size: x-large; margin-left: 30px;"> Tags </div>
                <div class="tags"> mechanical engineering </div>
                <div class="tags"> technology </div>
                <div class="tags"> usp </div>
                <div class="tags"> materials </div>
            </div>

            <div class="boxop">
                <div class="nome" style="font-size: x-large; float: right;"> Processos 
                    <button class="op" onclick="location.href='/processos_bu'"> <div> <img src="./Imagens/poli.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Pesquisa em Materiais Poliméricos </div>
                    </button>
                    <button class="op" onclick="location.href='/processos_bu'"> <div> <img src="./Imagens/petrobras.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Pesquisa de Topologia de Perfurações </div>
                    </button>
                    <button class="op" onclick="location.href='/processos_bu'"> <div> <img src="./Imagens/google.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Intership Research Summer Program </div>
                    </button>
                </div>
            </div>
        </div> 
    </body>

</html>